body{
  color: #153462;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-top: 0;
  font-weight: normal;
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
}

hr {
  border: dotted black  6px;
  border-bottom: none;
  width: 4%;
}


ol{
  display: inline-block;
  text-align: left;
}


ul{
  display: inline-block;
  text-align: left;
}


.circular{
  margin-top: 50px;
  border-radius: 100%;
  width: 25%;
}

.oval_left{
  border-radius: 10px;
  width: 15%;
  float: left;
  margin-right: 5px;
}


.oval_right{
  border-radius: 10px;
  width: 15%;
  float: right;
  margin-left: 5px;
}

.images_left{
  border-radius: 100%;
  width: 15%;
  float: left;
  margin-right: 10px;
}

.images_right{
  border-radius: 100%;
  width: 15%;
  float: right;
  margin-left: 10px;
}

.icons{
  max-width: 30px;
  padding-right: 30px;
}

.top-container{
  background-color: #FECC7A;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: fixed;
  right: 300px;
  top: 50px;
}


.span{
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
}

.mountain{
  position: relative;
}

.runner{
  position: relative;
  background-color: #FECC7A;
}


.bottom-cloud{
  position: fixed;
  left: 300px;
  bottom: 350px
}

.skills{
margin: auto 10px auto 10px;
}

.skills-row{
  width: 65%;
  margin: 100px auto 100px auto;
}


.middle-container{
  background-color: #939B62;
  position: relative;
  padding-bottom: 100px;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.bottom-container{
  background-color: #FFB26B;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Table related stuff */
.table-no-border{
  table-layout: auto;
  width: 80%;
  text-align: center;
}


.table-border{
  table-layout: auto;
  width: 80%;
  border: 1.5px solid grey;
}

td:hover{
  background-color: green;
} 


/* rating stuff*/
.checked {
  color: gold;
}